.sidebar {
   width: 265px;
  padding: 16px 12px;
  border-radius: 28px;

  background: linear-gradient(
    180deg,
    rgba(240, 244, 250, 0.9) 0%,
    rgba(235, 236, 240, 0.9) 60%,
    rgba(230, 232, 236, 0.9) 100%
  );

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.6),
    0 20px 40px rgba(0,0,0,0.08);
}

.sidebar-item {
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  cursor: pointer;
}

.sidebar-inner {
 padding: 40px 0 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.day-item {
   height: 48px;
  padding: 0 16px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    width: 240px;
  font-size: 14px;
  font-weight: 500;
  color: #5f6368;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  border-top-right-radius: 0; 
   border-bottom-right-radius: 0;
  cursor: pointer;
  transition: all 0.25s ease;
  position: relative;
}
.day-item.active {  
 background: rgba(255, 255, 255, 0.6);
  color: #1f1f1f;
  width: 240px;
  border-radius: 30px 0 0 30px;
  box-shadow: 0 4px 14px rgba(31, 169, 113, 0.08);
  transition: background 0.3s, color 0.3s; 
}
.day-item.locked {
  color: #8a8f98;
  cursor: pointer;
  width: 230px;
}
.day-text {
  letter-spacing: -0.2px;
}
.clicked-day-text{
    opacity:0.6
}
.day-icon {
  font-size: 14px;
  opacity: 0.9;
}
.green-tick {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: #1fa971;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
}
.grey-lock {
  color: #666666;
  font-size: 14px;
  filter: grayscale(100%) brightness(0.8);
  opacity: 0.7;
}

[data-theme="dark"] .grey-lock {
  color: #ffffff;
  filter: grayscale(100%);
  opacity: 0.8;
}
/* Selected check */
.day-item.active .day-icon {
  color: #1fa971;
  font-weight: 700;
}

:root {
  --bg: #f4f6fb;
  --card: #ffffff;
  --text: #111;
  --muted: #777;
  --border: #e6e6e6;
}

[data-theme="dark"] {
  --bg: #0f1115;
  --card: #1a1c23;
  --text: #ffffff;
  --muted: #aaa;
  --border: #2a2d3a;
}
[data-theme="dark"] .sidebar {
  background: linear-gradient(
    180deg,
    rgba(32, 35, 44, 0.9),
    rgba(26, 28, 36, 0.9)
  );
  border-radius: 0px;
  box-shadow: none;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] .day-item {
  color: #b6bbc6;
}

[data-theme="dark"] .day-item.active {
  background: #1a1c23;
  color: #ffffff;
}

[data-theme="dark"] .day-item.locked {
  color: #7b808a;
}